    <footer>
        <a href="#top" class="back-to-top" title="Return to the Surface (Top)">
            <div class="paranteze">
                <div class="triunghi"></div>
            </div>
        </a>
        <address>
            Phone: <a href="tel:+40722000000">+40 722 000 000</a><br>
            E-mail: <a href="mailto:overseer@vault-tec.com">overseer@vault-tec.com</a>
        </address>
        <p class="school-project"><small>Acesta este un proiect școlar</small></p>
        <p><small>Copyright © 2026 Vault - All Rights Reserved</small></p>
    </footer>